<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - Brand</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="../static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/styles/custom-buttons.css">
    <link rel="stylesheet" href="../static/styles/iframe.css">
    <link rel="stylesheet" href="../static/styles/Ludens---Custom-Code-Google-Map-just-the-iframe.css">
    <link rel="stylesheet" href="../static/styles/Swiper-Slider-Card-For-Blog-Or-Product-swiper.min.css">
    <link rel="stylesheet" href="../static/styles/Swiper-Slider-Card-For-Blog-Or-Product-untitled.css">
    <link rel="stylesheet" href="../static/styles/untitled.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"></div>
                            <h3 class="text-dark mb-1">Chicken Influenza</h3>
                        </form>
                    </div>
                </nav>
                <div class="blog-slider" style="margin-bottom: 33px;">
                    <div class="blog-slider__wrp swiper-wrapper">
                        <div class="blog-slider__item swiper-slide">
                            <div></div>
                            <div class="blog-slider__img"><img src="../static/img/featherlice-in-chickens-500x333.jpg"></div>
                            <div class="blog-slider__content"><div class="blog-slider__title">Chicken Temperatures</div><div class="blog-slider__text">Click beneath to go to the Chicken Temperatures </div><a class="class=&quot;blog-slider__button" href="http://213.34.117.103:1880/ui">CHICKEN TEMPERATURES</a></div>
                        </div>
                        <div class="blog-slider__item swiper-slide">
                            <div></div>
                            <div class="blog-slider__img" style="margin-right: 154px;"><img src="../static/img/cock-2522623_1280-1080x675.jpg"></div>
                            <div class="blog-slider__content"><div class="blog-slider__title">Chicken Locations</div><div class="blog-slider__text">Click beneath to go to the Chicken Locations </div><a class="class=&quot;blog-slider__button" href="http://213.34.117.103:1880/maps">CHICKEN LOCATIONS</a></div>
                        </div>
                        <div class="blog-slider__pagination"></div>
                    </div>
                </div><iframe src="http://213.34.117.103:1880/" width="100%" height="400px" frameborder="0" style="border: 0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2023</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/Swiper-Slider-Card-For-Blog-Or-Product-swiper.min.js"></script>
    <script src="../static/js/theme.js"></script>
</body>

</html>